<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <a th:href="@{/}">Главная</a>
    ||
    <a th:href="@{/productList}">
        Каталог
    </a>
    ||
    <a th:href="@{/pcmatrix}">
        Корзина
    </a>
    ||
    <th:block sec:authorize="hasAnyRole('ROLE_MANAGER')">
        <a th:href="@{/admin/orderList}">
            Список заказов
        </a>
        ||
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_MANAGER')">
        <a th:href="@{/admin/product}">
            Создать товар
        </a>
        ||
    </th:block>
</div>